[Desktop Entry]
Exec=maunawelcome
Icon=maunawelcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Name[af]=Welkom Skerm
Name[ar]=شاشة الترحيب
Name[ca]=Pantalla de benvinguda
Name[da]=Velkomstskærm
Name[de]=Begrüßungsbildschirm
Name[el]=Οθόνη καλωσορίσματος
Name[en]=Welcome Screen
Name[et]=Tervitusekraan
Name[eu]=Ongietorri pantaila
Name[es]=Pantalla de Bienvenida
Name[fi]=Tervetuloa-näyttö
Name[fil]=Screen ng Maligayang pagdating
Name[fr]=Écran d’accueil
Name[fr_CA]=Écran de Bienvenue
Name[he]=מסך ברוכים הבאים
Name[hi]=स्वागत स्क्रीन
Name[id]=Layar Selamat Datang
Name[it]=Schermata di benvenuto
Name[ja]=ようこそ画面
Name[kea]=Tela di Benvindu
Name[ko]=환영 화면
Name[nl]=Welkom scherm
Name[no]=Velkomstskjerm
Name[pa]=ਸੁਆਗਤ ਸਕਰੀਨ
Name[pl]=Ekran powitalny
Name[pt]=Ecrã de boas vindas
Name[pt_BR]=Tela de Boas-Vindas
Name[ro]=Ecran de bun venit
Name[ru]=Экран приветствия
Name[sq]=Ekrani i mirëseardhjes
Name[sv]=Välkomstskärm
Name[th]=หน้าจอต้อนรับ
Name[tr]=Karşılama ekranı
Name[vi]=Màn hình chào mừng
Name[zh_CN]=欢迎屏幕
Name[zh_HK]=歡迎螢幕
Name[zh_TW]=歡迎螢幕
Name[zu]=Isikrini sokwamukela
Comment=Introduction to Mauna Linux
Comment[af]=Inleiding tot Mauna Linux
Comment[ar]=مقدمة إلى ماونا لينكس
Comment[ca]=Introducció a Mauna Linux
Comment[da]=Introduktion til Mauna Linux
Comment[de]=Einführung in Mauna Linux
Comment[el]=Εισαγωγή στο Mauna Linux
Comment[en]=Introduction to Mauna Linux
Comment[es]=Introducción a Mauna Linux
Comment[et]=Mauna Linuxi Tutvustus
Comment[eu]=Mauna Linux-en Sarrera
Comment[fi]=Johdatus Mauna Linuxiin
Comment[fil]=Panimula sa Mauna Linux
Comment[fr]=Introduction à Mauna Linux
Comment[fr_CA]=Introduction à Mauna Linux
Comment[he]=מבוא למאונה לינוקס
Comment[hi]=मौना लिनक्स का परिचय
Comment[id]=Pengantar Mauna Linux
Comment[it]=Introduzione a Mauna Linux
Comment[ja]=Mauna Linux の概要
Comment[kea]=Introdução pa Mauna Linux
Comment[ko]=마우나 리눅스 소개
Comment[nl]=Inleiding tot Mauna Linux
Comment[no]=Introduksjon til Mauna Linux
Comment[pa]=ਮੌਨਾ ਲੀਨਕਸ ਨਾਲ ਜਾਣ-ਪਛਾਣ
Comment[pl]=Wprowadzenie do systemu Mauna Linux
Comment[pt]=Introdução ao Mauna Linux
Comment[pt_BR]=Apresentando o Mauna Linux
Comment[ro]=Introducere în Mauna Linux
Comment[ru]=Введение в Мауна Linux
Comment[sq]=Hyrje në Mauna Linux
Comment[sv]=Introduktion till Mauna Linux
Comment[th]=ความรู้เบื้องต้นเกี่ยวกับ เมาน่า ลินุกซ์
Comment[tr]=Mauna Linux'a Giriş
Comment[vi]=Giới thiệu về Mauna Linux
Comment[zh_CN]=Mauna Linux 简介
Comment[zh_HK]=Mauna Linux 簡介
Comment[zh_TW]=Mauna Linux 簡介
Comment[zu]=Isingeniso se-Mauna Linux
