[Desktop Entry]
Exec=maunawelcome
Icon=maunawelcome
Terminal=false
Type=Application
Encoding=UTF-8
Categories=GNOME;GTK;Settings;DesktopSettings;
NotShowIn=KDE;
StartupNotify=false
Name=Welcome Screen
Name[af]=Welkom Skerm
Name[ar]=شاشة الترحيب
Name[de]=Begrüßungsbildschirm
Name[es]=Pantalla de Bienvenida
Name[fr]=Écran d’accueil
Name[fr_CA]=Écran de Bienvenue
Name[it]=Schermata di benvenuto
Name[pt]=Ecrã de boas vindas
Name[pt_BR]=Tela de Boas-Vindas
Comment=Introduction to Mauna Linux
Comment[af]=Inleiding tot Mauna Linux
Comment[ar]=مقدمة إلى ماونا لينكس
Comment[de]=Einführung in Mauna Linux
Comment[es]=Introducción a Mauna Linux
Comment[fr]=Introduction à Mauna Linux
Comment[fr_CA]=Introduction à Mauna Linux
Comment[it]=Introduzione a Mauna Linux
Comment[pt]=Introdução ao Mauna Linux
Comment[pt_BR]=Apresentando o Mauna Linux
