[Desktop Entry]
Encoding=UTF-8
Name=maunawelcome
Comment=Mauna Linux Welcome Screen
Icon=maunawelcome
Exec=maunawelcome-launcher
Terminal=false
Type=Application
Categories=

